.title {
    font-size: 6rem;
    font-family: $font-title;
    letter-spacing: 4px;
    margin: 0;
    margin-bottom: 6rem;
    text-align: center;
}

.regular-text {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0;
}

.small-text {
    color: rgba($color-white, .7);
    font-size: 1.5rem;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}
