@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');

// ****************
// **** COLORS ****
// ****************
$color-blue: #3867D6;
$color-blue-light: #97B2F0;
$color-green: #00DE88;
$color-red: #eb3b5a;
$color-yellow: #FFD34B;
$color-white: #fff;
$color-white-light: rgba($color-white, .3);
$color-black: #000;




// ***************
// **** FONTS ****
// ***************
$font-title: 'Bowlby One SC', cursive;
$font-regular: 'Montserrat', Arial, sans-serif;